html, body {
  height: 100%;
  width: 100%;
  background-image: url('background-image.jpg');
  background-size: cover;
  font-size: 85%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

.main div {
  color: #f4f5ef;
  font-family: 'bookmania';
  font-size: 10em;
}

a {
  text-decoration: none;
  color: #f4f5ef;
}

a:hover{
  opacity: 35%;
}

#works {
  opacity: 35%;
}

.videos {
  padding: 10px;
}

.videos.big iframe {
  width: 1120px;
  height: 630px;
}

.videos.small iframe {
  width: 560px;
  height: 315px;
}

.videos.small {
  margin-top: -20px;
  float: left;
}

@media only screen and (max-width: 600px) {
  html, body {
    height: 100%;
    width: 100%;
    background-image: url('background-image-mobile.jpg');
    background-size: cover;
    font-size: 85%;
  }
  
  .main div {
  color: #f4f5ef;
  font-family: 'bookmania';
  font-size: 4em;
  }
  
  .videos.big iframe {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  margin: auto;
}

  .videos.small iframe {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  margin: auto;
}
  
  .main {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}
  
}